[2019-11-12 18:26] ababaian opened #1 "First Org Meeting"
Hey @hackseq/steering_committee_2016 @hackseq/steering_committee @hackseq/hs18_org @hackseq/hs19_organizers ,

With `hackseq19` done and successful, time to plan for `hackseqRNA`. In brief, we are teaming up with the [RNA Society](https://www.rnasociety.org/conferences/rna-2020/) and the Vancouver 2020 conference which is bringing 1000s of world-class RNA biologists to Vancouver. There is a great

[2019-11-12 19:32] emreerhan commented on #1
Not sure how much time I can commit yet but very interested in helping organize! At minimum, you can count on me to organize compute resources with the GSC.

[2019-11-12 19:38] ababaian commented on #1
Also if you know someone you think would be a good fit, send them the link : )

[2019-11-12 20:03] jenjaelin commented on #1
As I said in person, I'm happy to help until I have to move away :)

[2019-11-12 22:27] klgray25 commented on #1
I won't be able to help out next year :(

It seems like there were a lot of people who said they would be available in the exit survey from hackseq19. Also a great many unusual comments in the free-form text box, including hang-over advice, several recipes (as requested), and observations about the granola bars.

[2019-11-13 20:31] NoushinN commented on #1
I'll be happy to join online and do remote assistance (e.g. social media, etc). Loving the topic and would be interested in joining, co-leading, or leading a team

[2019-11-16 00:18] sjackman commented on #1
Check in with 10x Genomics to see if they'd be interested in sponsoring. You can e-mail me, and I can put you in touch with the right person.

[2019-11-17 21:50] ababaian commented on #1
We'll go with **Wednesday Nov 27th at 6pm** with the first meeting.

[2019-11-25 22:10] jenjaelin commented on #1
Hey Artem... any chance we could meet earlier in the day or tomorrow? Idk
about everyone else, but I'm going to have a real difficult time getting
home after the meeting without transit Wednesday :x

On Sun, Nov 17, 2019 at 1:50 PM Artem Babaian <notifications@github.com>
wrote:

[2019-11-25 22:11] emreerhan commented on #1
Oh great point Jen. I can't make it to the meeting if the transit strike happens.

[2019-11-25 22:31] lfunderburk commented on #1
Maybe we can setup an online meeting?

[2019-11-25 22:32] lfunderburk commented on #1
We can use GoTo Meeting, Google Hang outs or Zoom. If people are open, I'd set it up and send a link to the meeting.

[2019-11-25 23:49] ababaian commented on #1
If @emreerhan / @NoushinN can do Tuesday that would work. If not we can fall back to online meeting for those who can't make it given a transit strike. I would prefer not to use online meetings just so we can have an easier discussion but we'll have to be flexible with the transit strike.

[2019-11-25 23:52] emreerhan commented on #1
Is Tuesday tomorrow? If so, I can do tomorrow at 6pm.

[2019-11-26 01:26] NoushinN commented on #1
unfortunately, I can only make the online meeting..can follow up on proceeding notes if joining online isn't an option

[2019-11-26 01:49] ababaian commented on #1
Let's do tomorrow, I'll send an email out in a bit.

[2019-11-26 02:23] bfjia commented on #1
If it's tomorrow(Tues), can we do 5pm?

-------- Original message --------
From: Artem Babaian <notifications@github.com>
Date: 2019-11-25 17:49 (GMT-08:00)
To: hackseq/hackseqRNA <hackseqRNA@noreply.github.com>
Cc: Justin Jia <justin_jia2006+git@hotmail.com>, Team mention <team_mention@noreply.github.com>
Subject: Re: [hackseq/hackseqRNA] First Org Meeting (#1)

Let's do tomorrow, I'll send an em

[2019-11-26 04:59] ababaian commented on #1
Email in case i missed you

![hackseq_logo](https://user-images.githubusercontent.com/9220907/69600702-81674400-1009-11ea-9134-89a7fa17388e.png)

[2019-11-29 00:25] ababaian opened #2 "Location Booking"
**Finalize booking by** : Dec. 10th, 2019

Aim for ~90 people in total. 3-day booking.

## Inquire regarding location.
-  Check for Availability / Cost / Feasibility.
-  [x] SFU Harbour Centre Availability ( Justin )
-  [x] UBC Robson Square ( Jen )
- [x] Hotel booking ( Jen )
  - Four Seasons - contacted
  - Fairmont Vancouver - contacted

- [x] Connect Jen with Simple Meetings Organizer. (Artem)

[2019-11-29 00:30] ababaian opened #3 "Team Leader Recuritment"
**Recruitment open and in full swing by**: Dec. 10th 2019

- Aim for 2-3 industry-led teams. Recruitment for bioinformatics.
- [x] Prepare email advertisment for email-lists (including RNA Society - Dec 12th.

## Webpage update
- [x] Create updated webpage for team lead ( Alex )
  - "Why should you run a project?"
  - "What is the scope of a successful project?"
  - "What did previous projects 'lo

[2019-11-29 22:56] bfjia opened #4 "SFU Vancouver"
I just reached out to SFU vancouver to see if they have available spaces. more to come...

[2019-11-29 22:57] bfjia opened #5 "sponsorship + private repo?"
More to come...

[2019-11-29 23:17] jenjaelin commented on #2
@ababaian

When you say Fairmont Vancouver, do you mean Waterfront, Pacific Rim or the Hotel Vancouver (yah apparently there's 3)? Or should I ask all 3?

[2019-11-29 23:42] jenjaelin commented on #1
Wrote out a quick point form blurb of roles we're potentially still missing. I'm happy to take general coordinatior unless someone else wants to do it. Feel free to add to this if I missed something, otherwise, @ababaian I think you can send out the email

## Roles still needed (number of organizers):
### Logistics (2)

- nourishment coordinator
  - keeping track of attendee numbers, dietary restr

[2019-11-29 23:45] itsDagu commented on #1
I'd be happy to help with Sponsorship again!

[2019-11-29 23:57] ababaian commented on #2
I was thinking Hotel Vancouver as it's a nice central location.

[2019-11-30 00:01] jenjaelin commented on #2
Fairmont has a godawful website and contact info, I'll figure it out :P

[2019-11-30 00:04] jenjaelin opened #6 "Four Seasons"
Emailed and waiting to hear back, will edit with details

[2019-11-30 00:05] jenjaelin opened #7 "Fairmont Hotel Vancouver"
Since they require catering to be done through them, the estimate per day is upwards of 10k.... So no from here

[2019-11-30 01:03] bfjia commented on #4
Only thing available is a 60 ppl lecture hall. So SFU Vancouver is out.

[2019-12-02 20:03] jenjaelin commented on #6
Four Seasons closes down next month so this is out.

[2019-12-02 20:04] jenjaelin commented on #2
@ababaian do we know which hotel the conference is booking their attendees into?

[2019-12-02 20:09] ababaian commented on #2
I sent you an email hooking you up with Mary from the RNA society organizing company.

[2019-12-02 20:13] jenjaelin commented on #2
thanks! My lab also had a recent meeting and booking with Sheraton Wall so that might get us a good connection. Downside is that it is a little far.... I'll see what Fairmont says and same with Mary (thanks for doing that).

[2019-12-02 21:39] jenjaelin commented on #2
what do y'all think about considering booking several classrooms/board rooms rather than a single atrium if we can't find something the size of LSI?

[2019-12-02 22:41] ababaian commented on #2
hatching health does this, if we can book a whole wing and/or section of a building I think this would work, just keep people in generally the same locale.

[2019-12-03 01:51] jenjaelin commented on #2
okay. In that case, I'll look into some locations at UBC... idk how much
it'll cost but will keep you posted.

J

On Mon, Dec 2, 2019 at 2:41 PM Artem Babaian <notifications@github.com>
wrote:

[2019-12-03 18:21] jenjaelin commented on #5
do we have a private repo yet?

[2019-12-04 00:18] bfjia commented on #4
SFU Vancouver is $1550/day. We have to order catering through them so that ain't cheap. Also we have to change rooms between the Friday and Saturday which is not ideal either.
Based on these, I'm guessing SFU Vancouver is out.

[2019-12-04 01:44] jenjaelin commented on #2
Haven't checked Robson Square yet, but I called and sent an email to UBC conferences and waiting to hear back on details for alternative locations at UBC.

[2019-12-05 20:25] jenjaelin opened #8 "UBC Rental Space - Ponderosa Ballroom"
To Check:

- [x] Robson Square
  - contacted
  - response - rooms are booked for the date we want
- [x] Ponderosa ballroom
 - contacted
 - received response - temporary hold on room
- [x] Alumni Centre
  - contacted - booked for the dates
- [x] Nest
  - contacted
  - received response - booked for the date we want
- [ ] Pharm Sci
  - contacted
- [ ] Forestry
  - contacted
---
Hey y'all, heard back

[2019-12-05 20:25] jenjaelin commented on #8
attachments:

[Ponderosa Mtg Space 2020 Rates - UBC INTERNAL.pd](https://github.com/hackseq/hackseqRNA/files/3928930/Ponderosa.Mtg.Space.2020.Rates.-.UBC.INTERNAL.pdf)
![Pond Ballroom Banquet Style](https://user-images.githubusercontent.com/37309499/70270872-1aa8ff80-175a-11ea-8668-ef091ed91eac.jpg)

[2019-12-05 20:36] #7 closed, assigned to nobody

[2019-12-05 20:37] #6 closed, assigned to nobody

[2019-12-05 22:04] bfjia commented on #5
Not yet. It seems like i dont have permission to create repos wtf.. @ababaian  can you take over?

[2019-12-05 22:05] bfjia commented on #1
@itsDagu thanks for your interest. would you be willing to spearhead sponsorship for hackseqRNA?

[2019-12-05 22:10] NoushinN commented on #1
Thanks for the notes @jenjaelin Happy to take up the participant applications role along with someone else, I believe this is a task that can be done remotely and I could travel to meet if need be.

[2019-12-05 22:10] ababaian commented on #5
I made a private repo, weird you can't do this tho

[2019-12-05 22:11] NoushinN commented on #1
loving the logo! are we still generally operating under hackseq? same email/social median handles?

[2019-12-05 22:11] bfjia commented on #5
thanks!
yeahh. maybe its a phone thing.

[2019-12-05 22:11] #5 closed, assigned to nobody

[2019-12-05 22:12] ababaian commented on #1
Same everything, yeah. I'm working on a make-over for Twitter/ Website to rebrand for this event.

[2019-12-05 22:14] #4 closed, assigned to nobody

[2019-12-05 22:16] ababaian commented on #8
Nest doesn't have a nice room for this, there's no windows in the room big enough to fit. The Ponderosa room doesn't look too hot either but we could make it work. How about Alumni Centre?

[2019-12-05 23:01] jenjaelin commented on #8
Had a call with Amira (events and bookings) and I temporarily put a hold on the Ponderosa as we talk it out. A few new things:

- since we have a room block for the RNA 2020, they can give us a firm booking and also book extra lecture rooms as we want for us through UBC afterwards.
- all the venues mentioned require catering to be done through their approved list (The list is larger for the Alumni

[2019-12-05 23:57] jenjaelin commented on #8
Robson Square:
----
Hi Jennifer,

Thank you for your booking inquiry!

Unfortunately the C150/180 is not available on May 22nd-24th, 2020. However, we have other rooms that could potentially work for your event:

- HSBC Hall: can fit up to 40 people in pods.
- Room C400: can fit up to 30 people in pods.
- Room C485: can fit up to 30 people in pods.

The above rooms are currently on hold for anothe

[2019-12-06 01:02] ababaian commented on #8
D: This is looking to be a bit more challenging then I thought.

[2019-12-06 17:34] sjackman commented on #1
@itsDagu Check in with 10x Genomics to see if they'd be interested in sponsoring. You can e-mail me, and I can put you in touch with the right person.

[2019-12-06 18:20] jenjaelin commented on #8
Yep. It looks like we will have to cave a bit on catering or keep looking for places that just rent out space.

----
Robson Square got back to me:

Hi Jennifer,

Please find attached the room rental quote for HSBC Hall, C485 and C400 for three days. May I ask if the payment will be made via UBC speedchart or UBC JV? If so, we would be happy to offer 30% discount on the room rental. Please let me k

[2019-12-06 18:24] emreerhan commented on #3
Hey @ababaian , could you send me the abstract book when you get a chance?

[2019-12-06 18:26] jenjaelin commented on #2
Also sent out a request to WeWork on a whim... lets see what they say.

[2019-12-06 18:46] ababaian commented on #3
It's on the Google Drive under `Teams`

[2019-12-06 18:48] ababaian commented on #8
We could probably use a UBC speedchart from MEDG if we agree to transfer them the funds first so that's less 30% at least. Yeah looks like UBC really boxes in on the catering which would be challenging to pull off with feeding people for the duration. Tough choices.

[2019-12-06 20:24] jenjaelin commented on #8
Also heard back from the Nest, they're only available on May 22, and WeWork is possibly available on the weekend. that may give us a little more freedom...

...nevermind, they don't do weekends currently. So basically our current options are Robson or Ponderosa. Amira said she's willing to look the other way for snacks at Ponderosa if we order meals through their catering contract. Robson is a lot

[2019-12-09 23:07] emreerhan commented on #3
Some updates:
- I have a contact who is a part of the IRB COSI (https://irbgroup.org/) who is happy to distribute information about the hackseq both on the IRB website, on their mailing list, and through their network.
- My colleague at the GSC is well connected with those in the RNA secondary structure prediction world. He's going to connect me with the people who are behind the ViennaRNA package

[2019-12-09 23:07] emreerhan commented on #3
I won't be able to do this until next week because of final exams and projects.

[2019-12-10 17:27] ababaian commented on #3
Baby dropped, I'm going to be a little busy next couple of days to help out with this stuff guys.

[2019-12-10 17:28] alexsweeten commented on #3
Congratulations!

[2019-12-10 19:13] jenjaelin commented on #3
Congrats on your new +1 :D and my condolences for your impending lack of sleep

[2019-12-11 01:43] bfjia commented on #3
Congratulations!!!

[2019-12-11 04:39] emreerhan commented on #3
Wow! Congrats Artem.

[2019-12-13 19:16] baraaorabi opened #9 "Org recruit"
Hey @ababaian

My friend @mariamarab is interesting in joining the org team for hackseqRNA. She's been a participant in hackseq18/19. I wanted to tag her for the first meeting but I forgot to. Are there org roles that are still open in hackseqRNA team?

[2019-12-13 19:19] jenjaelin commented on #9
Definitely still spots left :) namely Logistics, participant apps and Finance related things

[2019-12-13 20:52] ababaian commented on #9
Let's get this email out on Monday. I'll have this drafted and ready to send the mailing list. This legit slipped my mind.

[2020-01-01 05:32] ababaian opened #10 "New year, New Org meeting! (#2)"
Happy New Year @hackseq/hackseqrna_org!

It's officially the dystopian sci-fi future of 2020! Let's celebrate with some hackathon organization!

Please complete the [Online Poll](https://dudle.inf.tu-dresden.de/hsrna2/) for meeting times.

# Tentative Agenda
- Add All contact information for organizers in the PRIVATE readme

# Organizational Recruitment [ Artem ]
- Sent out hackseq email on new ye

[2020-01-01 06:13] ababaian opened #11 "HACKSEQ WANTS YOU!"
Happy new year _hackseqr_!!

hackseq is in search of stoked scientists (a.k.a. you) to make the next generation of hackseq happen! What better way to kick off the roaring 20s then to help organize a transformative bio+informatics hackathon!

We're going to be kicking off the decade with a double bang. In May we're planning hackseqRNA, a collaboration with the international RNA society to bring tog

[2020-01-03 21:05] bfjia opened #12 "sponsorship packages for hackseqR"
Outline of sponsorships that could be available for hackseqR

[2020-01-03 21:07] bfjia commented on #12
[HackseqR-sponsorship.docx](https://github.com/hackseq/hackseqRNA/files/4020921/HackseqR-sponsorship.docx)

[2020-01-06 18:45] ababaian commented on #10
Let's meet 5pm on Tuesday January 7th at the BCCRC (675 W 10th Ave).

[2020-01-06 19:01] jenjaelin commented on #10
I'm an idiot and forgot to vote, but I'll be somewhere above Manitoba around that time.

Things to talk about on my end:
- booked Ponderosa Ballroom so we need to talk to whomever booked (hotel) room blocks at UBC for RNA2020 to talk about potentially extending them for the weekend that hackseqRNA is running.
  - regards to that, let me know who that is so I can coordinate?
- we also probably need

[2020-01-06 19:43] ababaian commented on #9
@mariamarab, we're meeting this Tuesday at 5pm at the BCCRC. Can you make it?

[2020-01-06 19:47] #2 closed, assigned to jenjaelin

[2020-01-06 19:47] #9 closed, assigned to nobody

[2020-01-06 19:48] ababaian commented on #11
This email was sent out, in all emails I checked it went to spam folder so will send follow-up of this email to hs19 "Interested in organizing".

[2020-01-06 20:11] bfjia commented on #10
I got a pretty hard cutoff of 6pm tomorrow evening. Lets talk about the proposed sponsorship package early please

[2020-01-07 01:59] mariamarab commented on #9
Sorry, I can’t make it tomorrow before 6:30. Will the meetings always be at that time?

[2020-01-07 03:28] ababaian commented on #9
We usually send out a poll beforehand so it varies. I'll remember to ping you before the next one so you can vote.

[2020-01-08 00:57] itsDagu commented on #10
Hey all, I won't be able to join in person but will be available on Skype for the meeting. Let me know when you guys are ready!

[2020-01-08 01:07] ababaian commented on #10
I don't have good skype capabilities here but I'll add notes later tonight and we can chat some time tomorrow if that's OK.

[2020-01-27 01:34] ababaian opened #13 "Organizational Meeting #3"
Hello @hackseq/hackseqrna_org,

Let's get an organizational meeting going for this week. I thought I opened this issue last week but must have not clicked submit, so pardon the late notice.

**Meeting is set for Thursday 5pm at BCCRC**

## Tentative Agenda
(Jen can you go through and update tasks?)

### Applications are open!
- [x] [hsRNA webpage](hackseq.com/rna) is online. Applications are live.

[2020-01-27 23:05] emreerhan commented on #13
Reddit thread up!
https://www.reddit.com/r/bioinformatics/comments/euw78w/hackseqrna_an_rnathemed_bioinformatics_hackathon/

[2020-01-28 18:47] ababaian commented on #13
@imasianxd + @zsteve can you fill out the poll?

[2020-01-28 18:50] bfjia commented on #13
Just did. My bad

[2020-01-28 18:54] jenjaelin commented on #13
@ababaian for some reason I'm not getting notifications recently for github :P what tasks would you like me to update?

[2020-01-28 19:04] ababaian commented on #13
@jenjaelin Can you go through the open issues, close them out if needed and move all the tasks to do here into one place?

[2020-01-28 21:23] ababaian commented on #13
@jenjaelin Not sure what's up with the notifications. I don't use github notifications (I just check the site regularly) so I can't help. You're part of the organization so you should have been tagged in theory.

@hackseq/hackseqrna_org meeting time set for Thursday 5pm.

@itsDagu @zsteve can you confirm if you can make this time? It would be good to get all hands on deck and lay out the plan for

[2020-01-28 22:58] itsDagu commented on #13
@ababaian Sorry, I don't think I can make this one in person, my classes finish at 5pm on Thursdays. I will try my best to join via Skype if it is available.

[2020-01-29 00:13] emreerhan commented on #13
@jenjaelin are you watching the repo? You can check at the top of the page where you see an eyeball icon.

[2020-01-29 01:05] emreerhan commented on #13
@ababaian can we get the RNA Society to help advertise via RT's and an email to the mailing list?

[2020-01-29 23:46] ababaian commented on #13
@emreerhan Yeah. We need to draft a clean recruiting email draft. Something like attached poster perhaps and then we can BLAST it across all the mailing lists. If you can get a draft ready we can finalize it at the meeting.

We also have the old game-boy poster we can re-use. I always liked that one :)

[hsRNA_poster.pdf](https://github.com/hackseq/hackseqRNA/files/4131448/hsRNA_poster.pdf)

[2020-01-31 02:14] #1 closed, assigned to nobody

[2020-01-31 02:14] #10 closed, assigned to nobody

[2020-01-31 02:15] #12 closed, assigned to nobody

[2020-01-31 02:18] ababaian commented on #13
@schutzekatze, I don't have the RNA18 abstract book but I have one from a Canadian meeting RiboWest in 2017. It's on the hackseq google drive under "/Teams/hsRNA_teams/"

Ask Emre how to gain access.

[2020-01-31 18:57] bfjia commented on #13
@jenjaelin did you find contacts for uber/lyft?

[2020-01-31 19:01] jenjaelin commented on #13
got one for Lyft, but not Uber. Will send :)

On Fri, Jan 31, 2020 at 10:57 AM Justin Jia <notifications@github.com>
wrote:

[2020-01-31 22:21] ababaian commented on #13
@SweetiePi Hows the email coming together? I mentioned yesterday but not sure if we confirmed, how about a second poster design based on a refined "RNA" theme of the gameboy poster previously?

[2020-01-31 22:46] alexsweeten commented on #13
@ababaian  It's coming together :). I'll send a draft by tonight, I think Monday morning is the best time to send it out.

[2020-01-31 23:11] baraaorabi opened #14 "MailChimp password change"
I just saw an email notification that our MailChimp password has been changed. Did any of us do that?

[2020-01-31 23:12] alexsweeten commented on #14
Yes that was me. Curse websites and their unrealistic password standards

[2020-01-31 23:13] baraaorabi commented on #14
Cool just wanted to check

On Fri., Jan. 31, 2020, 3:12 p.m. Alex Sweeten, <notifications@github.com>
wrote:

[2020-01-31 23:53] ababaian commented on #14
@baraaorabi while we have your attention. Last time a bunch of the hackseq mail got sent to various spam folders. Do you know how to reduce this in mailchimp?

[2020-02-01 00:12] baraaorabi commented on #14
I don't think there is a way of avoiding that except for people to add our
email to their contact list :-/

On Fri, Jan 31, 2020 at 3:53 PM Artem Babaian <notifications@github.com>
wrote:

--
Baraa Orabi
Research Assistant
Vancouver Prostate Centre

[2020-02-03 17:31] alexsweeten commented on #13
Sent a test email out to hackseq@gmail.com and it seems to have been sent to our spam folder :(

I'll make some modifications today to try and avoid this.

[2020-02-03 17:34] ababaian commented on #13
try making an alternative gmail account, "hackseq.collective" and use that as the sender. If it's new it could possibly avoid spam?

Edit: Can you also add a little bit at the end that we are recruiting organizers too

[2020-02-03 21:53] ababaian commented on #13
@SweetiePi last one didn't go to my spam folder :) I think this might be a work-around then.

Did you register the "hackseq-collective@gmail.com" account for real, we should forward mail from there to the main hackseq account? I was in the process of registering "hackseq.collective@gmail.com" but a dash works too : )

[2020-02-03 22:03] alexsweeten commented on #13
No I haven't registered it yet. Dash or dot should be fine.

[2020-02-03 22:05] ababaian commented on #13
dot is registered : )

I think it will take a little bit of time to set up mail forwarding but it's there.

[2020-02-03 22:46] alexsweeten commented on #13
Cool, unless you have any additions to the email I'll send it out!

[2020-02-04 01:48] ababaian opened #15 "Email Flyer"
Hey @SweetiePi

I've had this design idea for a bit to make an email flyer / poster out of. I put it together but I still think it's missing a little bit of a design element to tie it all together. Something like a sprite is needed. Do you have any suggestions and/or anything you think you can add to it?

We'll also need a short text description but I think wecan grab that off the mail-list.

[sne

[2020-02-04 01:57] alexsweeten commented on #15
Damn that looks so cool!

Possibly a final fantasy style battle with the boss being a pseudoknot or something?

![](https://lparchive.org/Final-Fantasy-V-Advance-(by-Dr-Pepper)/Update%2033/1-FF5UpdateSeventeen01.png)

[2020-02-04 01:59] ababaian commented on #15
Actually a FF fight would be a super bad-ass visual as well to use for advertising lol! Have like pixelly A, T, G, C fighting that psueoknot =D

Take a look at some SNES packages, they almost never use in-game graphics :P

[2020-02-04 02:17] #14 closed, assigned to nobody

[2020-02-04 19:49] ababaian commented on #15
It was missing a title. That's it!

#  Draft 1 - do not use. See below
[snes-seq_draf_2](https://user-images.githubusercontent.com/9220907/73780990-680c1200-4787-11ea-8361-1aad33a6b207.png)

------------------------------------------------------

Let me know if y'all have any edit suggestions.

Cheers!

[2020-02-04 20:54] alexsweeten commented on #15
Has a Missingno vibe to it. I like it! ![image](https://user-images.githubusercontent.com/7028404/73782317-c369e000-4746-11ea-8516-f52b8746474e.png)

is this a general email or are we targeting this to potential team leads?

[2020-02-04 20:55] ababaian commented on #15
Maybe adding a little bit of text to really encourage team leaders would be good, I think that's the weakest part of our ad-campaign at the moment.

[2020-02-05 14:09] ababaian commented on #15
# hackseqRNA Email Flyer Version 1

![hackseqRNA_snes3](https://user-images.githubusercontent.com/9220907/73848950-faacbf80-4820-11ea-8729-c7f2107e28e0.png)

[2020-02-05 16:25] ababaian commented on #15
@SweetiePi I was thinking last night. What about an art contest for hsRNA? We use the SNES/hackseqRNA template, the goal to design a video-game cover for bioinformatics. We could have one for like RNA-seq / ChIP-seq etc... Use real data in making the cover and make it look like 10 year old you would love to play that  game. Bioinformatics is pretty much grinding for XP anyways.

What do you think?

[2020-02-05 17:53] alexsweeten commented on #15
I like the riboseq data a lot! Fits better within the grid.

Sounds like a neat idea. Would this contest go on during the hackathon, or would we advertise it beforehand?

[2020-02-05 18:01] ababaian commented on #15
It might be too much 'work' to do during the hackathon but we could announce the winners at the hackathon.

[2020-02-06 17:42] ababaian opened #16 "Org-meet 4"
Hey @hackseq/hackseqrna_org

Let's have the next meeting a little bit earlier then usual so we can coordinate the application/sponsorship phase a little bit better. Also we can get everyone to come with more heads up : )

Plan for an extra hour or two afterwards for :beers:

@hackseq/hackseqrna_org Meeting is Wednesday at 6pm at the BCCRC.

# Agenda
- [x] Affiliations for everyone. Finalize and up

[2020-02-06 19:33] bfjia commented on #16
I'm going to be away in europe for a conference next week. I will be 9hrs in the future from all of ya. I can update whatever necessary ahead of time.

[2020-02-06 19:49] bfjia commented on #13
did we start sending out emails to the participants yet?

[2020-02-06 20:16] ababaian commented on #13
The hackseq mailling list email has been sent. What email do you mean @imasianxd?

[2020-02-06 20:17] bfjia commented on #13
participant invites to other maillists

[2020-02-06 20:26] ababaian commented on #13
I've started sending it out via the Email Flyer to some mailing lists to get the ball rolling yes [See Flyer](https://github.com/hackseq/hackseqRNA/issues/15#issuecomment-582424654)

[2020-02-08 01:16] NoushinN commented on #16
I have been missing in action but is there any help I can provide as a remote participant? I am seriously considering participation as well!

[2020-02-08 01:18] NoushinN commented on #15
is there anyone operating the twitter handle? do we have a social media post yet?

bizarre!! but pretty

[2020-02-08 01:55] ababaian commented on #16
Ramping up on Twitter and other social media platforms as always @NoushinN :)

I think @emreerhan could also coordinate finding and emailing different professors/research institutes to reach out to.

[2020-02-10 07:32] ababaian commented on #15
@baraaorabi are you still with vanbug? Do you think you could get this sent out to the mailing list this week?

[2020-02-10 19:34] baraaorabi commented on #15
I am! I will let Ka Ming add this to our flyer before next VanBUG on the 20th. Also, do you want me to announce it in person then?

[2020-02-10 19:37] baraaorabi commented on #15
@ababaian which graphic+description is the final version?

[2020-02-10 20:49] ababaian commented on #15
The only one now on this page [here](https://github.com/hackseq/hackseqRNA/issues/15#issuecomment-582424654).

i've removed all draft images.

And Yes please advertise it at the next VanBug!

[2020-02-14 01:08] ababaian commented on #16
Bump, can we all fill out this poll to finalize a room? @emreerhan We added next Wed as well as a possible time, can you update your response? Looks like it's next Wed.
@schutzekatze @zsteve

[2020-02-17 20:14] ababaian commented on #16
@hackseq/hackseqrna_org Meeting is Wednesday at 6pm at the BCCRC.

[2020-02-18 17:38] alexsweeten commented on #16
I'll be going to The Hive for bouldering after our meeting, if anyone else is interested.

[2020-02-18 17:46] ababaian commented on #16
Oooh I'll be down for a bit of climbing

[2020-02-18 17:52] jenjaelin commented on #16
something unexpected came up and I have to make a rather rushed trip down
to the states for a few days. I'll post what I have for updates on venue
and lodging bookings if you guys could discuss that it would be great.
Sorry about that and I'm sad to be missing out on climbing post as well.

On Tue, Feb 18, 2020 at 9:46 AM Artem Babaian <notifications@github.com>
wrote:

[2020-02-18 18:03] ababaian commented on #16
:'( We'll miss you

[2020-02-19 18:52] #8 closed, assigned to nobody

[2020-02-20 00:44] emreerhan commented on #16
Oops, forgot to respond. I'll be there for the meeting. Cannot join for activities after; I have to be home at 7:30, so I can only stay for an hour.

[2020-02-20 00:53] alexsweeten commented on #16
I forgot the Hive has member exclusive hours until 9pm on wednesdays :grimacing:

Will still go at 9 if you're up for it @ababaian

[2020-02-20 01:00] ababaian commented on #16
That's a bit late for the little one. Would you be up for going to cliffhangers?

[2020-02-20 01:45] zsteve commented on #16
Hey I'm stuck in traffic bc of pipeline protest, might be late sorry!

[2020-02-20 01:48] bfjia commented on #16
Same here....

-------- Original message --------
From: Stephen Zhang <notifications@github.com>
Date: 2020-02-19 17:45 (GMT-08:00)
To: hackseq/hackseqRNA <hackseqRNA@noreply.github.com>
Cc: Justin Jia <justin_jia2006+git@hotmail.com>, Team mention <team_mention@noreply.github.com>
Subject: Re: [hackseq/hackseqRNA] Org-meet 4 (#16)

Hey I'm stuck in traffic bc of pipeline protest, might be late so

[2020-02-20 01:58] ababaian commented on #16
You're in town Justin? No worries, protesters gatta protest ¯\_(ツ)_/¯

[2020-02-20 17:25] jenjaelin commented on #16
@hackseq/hackseqrna_org did you come to a decision on the residences? i.e. should I book a room block?

[2020-02-20 19:26] ababaian commented on #16
I think we were a little uncertain why? Can people book the UBC res. independently?

[2020-02-21 01:42] emreerhan opened #17 "Extending application deadline?"
Hey everyone,

I think it may be a good idea to extend the deadline by a week or two. I've had someone express interest in submitting a team leader application, but they won't be able to do it by the deadline. What do you think?

[2020-02-21 05:11] ababaian commented on #17
Yes let's do it. The RNA Society email hasn't gone out yet so I can still update it. March 13th?

The other option is we extend it closer to the date so people get their applications in and we have a better sense of the projects, else people will procrastinate. Maybe the day before we can extend it.

[2020-02-21 15:54] ababaian commented on #17
Also it'll be important to close the first round of applications on Feb 28th so we can deal with travel grant business by those who applied by then.

[2020-02-21 16:17] emreerhan commented on #17
Good call. Perhaps we should let people know that they'll only be guaranteed to be considered for travel grants if they apply by the first deadline.

[2020-02-21 16:23] ababaian commented on #17
I kind of don't want to promote the travel grants until we know it's in hand

[2020-02-21 18:02] emreerhan commented on #17
Did the RNA society email go out? We received 4 new applications of people going to the meeting who heard about us from "Mailing List" 🕺

[2020-02-21 18:03] ababaian commented on #17
Yep it did this AM

[2020-02-21 18:05] ababaian commented on #17
Maybe at the end of the work day today send out the team leader encouragement email to people signed up already.

Edit: and throw in that we're looking for organizers if you're local to Vancouver! ; )

[2020-02-23 21:06] ababaian opened #18 "Org Meeting 5 - Wednesday March 4th. 5:30pm BCCRC"
### Date: Wednesday March 4th. 5:30pm BCCRC.
**Bring a friend:** To help kickstart `hackseq20` via @baraaorabi, we decided we'll all try to 'bring a friend' to the next organizing meeting to up our organizer numbers. So find a buddy who can help organize and drag them out :P

## Agenda
*Extend participant applications until March 13th* (Discuss)
Projects: 13 submissions
Participants: 92 applicants

[2020-02-24 00:08] jenjaelin commented on #18
I can already say that I won't be able to make it unfortunately. I gotta fly out to Manitoba...

[2020-02-24 16:30] ababaian commented on #18
if you have a biostars account; I posted about hackseqRNA to it, bump the post with an upvote to keep on it on the front page for a big today/this week [here](https://www.biostars.org/p/423744/)

[2020-02-24 16:31] ababaian commented on #16
@SweetiePi Can you post the meeting minutes in this thread plz?

[2020-02-24 16:45] bfjia commented on #18
i wont be able to make it if its March 26-29. I'll be in Seattle for a conference.

[2020-02-24 16:57] ababaian commented on #18
I was thinking we have this next week once we have the team leader applications received.

[2020-02-24 16:58] bfjia commented on #18
ill be there then :). although i prefer a 5pm meeting.

[2020-02-24 17:30] jenjaelin commented on #16
@ababaian so they can book independently but risk there being no space? booking a block means that the rooms are "reserved" for individuals for hackseqRNA people to book.

But yah if it seems like we won't fill it, I can just tell them we aren't interested.

[2020-02-24 17:31] jenjaelin commented on #18
I can do next week after Tuesday :)

[2020-02-24 17:49] ababaian commented on #18
Wed 4th, 5:30pm?

edit: changed to 30 minutes earlier (6 --> 5:30)

[2020-02-24 17:51] bfjia commented on #18
anychance we can go 30min earlier please?

[2020-02-24 18:25] baraaorabi commented on #18
Wed the 4th works! I do prefer 30min earlier too but i can manage

[2020-02-25 16:57] ababaian commented on #18
@emreerhan Did you get a chance to send out the update email to the participants already signed up to encourage them to put a project forward?

[2020-02-25 16:58] ababaian commented on #18
@emreerhan Did you get a chance to send out the update email to the participants already signed up to encourage them to put a project forward?

[2020-02-25 17:10] emreerhan commented on #18
Oh shoot. I didnt! I'll do it as soon as I get in the office.

[2020-02-25 17:10] emreerhan commented on #18
Oh shoot. I didnt! I'll do it as soon as I get in the office.

[2020-02-25 17:19] emreerhan commented on #18
Check it out, there are 3 people who changed their applications to team leader applications

[2020-02-26 08:22] zsteve commented on #18
Hey all, will there be a second round of applications? Just wondering before I try and blast departmental emails with shameless ads for signups.

[2020-02-26 08:23] zsteve commented on #18
I assume the same also goes for team leader applications?

[2020-02-26 09:09] ababaian commented on #18
TBH there's a lot more sign-ups then I anticipated for one round. I think we can extend participant applications and maybe team leader depending on how many projects come in. I think going in with 12 projects would be the ideal. You can always put that only the `Letter of intent` is required for the projects by Friday, people just need to submit their idea not have everything ready for it by Frida

[2020-02-26 17:37] ababaian commented on #18
@jenjaelin @SweetiePi Is the venue stuff taken care of?

[2020-02-26 17:51] jenjaelin commented on #18
Hey, I'm honestly drowning a little this week, but I will take care of it
tomorrow afternoon, and if not Friday at the latest.

On Wed, Feb 26, 2020 at 9:37 AM Artem Babaian <notifications@github.com>
wrote:

[2020-02-27 19:18] alexsweeten commented on #18
Contacted UBC security, will update when I get a response.

[2020-02-27 20:51] zsteve commented on #18
Ok I have a strong expression of interest from one of the new asst prof, their research is exactly (computational) RNA biology. They are also attending the RNA Soc meeting, but mentioned they are busy and it would take some time to formulate a quality project. I think this is a very good opportunity for us.

See my opened issue in the PRIVATE.

[2020-02-27 21:02] ababaian commented on #18
Awesome @zsteve! The initial project submissions are more of a Letter of Intent, we can work with them once the basic idea is sketched out to optimize it for a hackathon.

[2020-02-28 23:00] jenjaelin commented on #18
@SweetiePi I put in the form for security. Will forward it to you when it comes back

Custodial services have been confirmed

[2020-03-03 17:04] alexsweeten commented on #18
@jenjaelin was it [this form](https://security.ubc.ca/node/83)?

[2020-03-03 21:09] jenjaelin commented on #18
Yep

Jennifer Lin

[2020-03-04 14:12] #13 closed, assigned to nobody

[2020-03-04 14:12] #15 closed, assigned to nobody

[2020-03-04 14:13] #17 closed, assigned to nobody

[2020-03-04 23:31] ababaian opened #19 "Participant Survey Notes"
Scratch notes / ideas for questions to ask participants before/after the hackathon (for publication).

- Did you receive outside funding/grants to attend hackseq? List them. (--> make a resource list for participants to apply to in the future).

[2020-03-05 22:55] emreerhan commented on #18
Sent out emails to participants from abroad, and team leaders earlier today.

[2020-03-06 00:56] alexsweeten commented on #18
I created a spreadsheet of interviews for potential team leads [here](https://docs.google.com/spreadsheets/d/1339hSbSsj-XMii389BqMARCiE5BShd9JWL5lvwmT5s4). Please assign yourself to at least 2. Once we get a reply from a team lead, I'll update the sheet with their availability.

[2020-03-06 06:01] ababaian opened #20 "Project information Request"
For the website and to promote projects we'll need the following information for each project. Ideally we'd have these in hand going into the interviews.

1) Project Name (~1-2 words)
2) Title (75 characters max)
3) Project pitch. What is the core that makes this project interesting to join? (200 character max)
4) Recruiting Abstract. Overview of the main objectives, why they are significant and h

[2020-03-06 20:55] emreerhan commented on #20
Let's collect these from the team leads after we have interviews with them.

[2020-03-06 21:22] emreerhan opened #21 "Team leader interviews"
Hi all,

Please sign up for 2 team leader interviews [here](https://docs.google.com/spreadsheets/d/1339hSbSsj-XMii389BqMARCiE5BShd9JWL5lvwmT5s4/edit?usp=sharing)

You can find a list of interview questions [here](https://docs.google.com/document/d/1ewRni5zDGPv64W11twRjulx11Pt7TcvIekKZczXE1sk/edit?usp=sharing)

At the end of the interview, please request the information found in [this ticket](https

[2020-03-07 16:55] NoushinN opened #22 "5th Anniversary publication"
Hi everyone, as part of the plan to celebrate our 5th year anniversary, we are aiming for the publication of our 5-year retrospective learnings. [This](https://f1000research.com/articles/6-197) was the first one!
In this spirit, we have a pre-hackathon and post-hackathon survey to gauge attendance expectations.
[Here](https://docs.google.com/forms/u/3/d/1ElDiRj1NLGgOUP1lmb_AuEWGnBrPAjBLMzcNxB5c7Og

[2020-03-08 22:36] NoushinN commented on #22
A draft publication skeleton is crafted (in hackseq account), can send invitation to working group: @ababaian could you discuss this in the next meeting? i.e. who's interested and can provide support/capacity?
Other needs: longitudinal raw data collected in pre/post hackathons since 2016 so we can amalgamate

[2020-03-10 19:14] jenjaelin opened #23 "Plan B: hackseqRNA: COVID-19 Ultra-hackathon"
# hackseqRNA: COVID19 Ultra-hackathon

##  Core Objectives
- We are in the midst of pandemic. The general sentiment is of fear and uncertainty. Bioinformaticians and RNA-biologists are at a unique position understanding the biology of SARS-CoV-2 and COVID-19, and it’s our responsibility to do this to the best of our ability

1) Establish a collaborative and  interdisciplinary network of bioinforma

[2020-03-10 21:46] emreerhan commented on #21
@hackseq/hackseqrna_org just pinging all of you to sign up for team leader interviews. If you are a new organizer and you would like support from a past organizer, sign up for an interview that already has a past organizer signed up.

[2020-03-11 17:21] bfjia opened #24 "COVID-19 contingency plan?"
With all the travel restrictions currently in place by some major universities and other cancelled conferences, should we have a contingency plan for COVID19 related cancellations?

Our event is in May which will be at the end of the epidemic, but doesnt hurt to plan anyways.

[2020-03-11 17:26] emreerhan commented on #24
I think we should stick to whatever the RNA Society decides to do. If they decide to postpone the conference, then perhaps we should also consider postponing hackseqRNA. If they decide to cancel the meeting all together--I think this is very unlikely--we can offer remote positions to everyone who was planning on travelling to Vancouver.

[2020-03-11 17:30] alexsweeten commented on #24
We recieved a few emails about this yesterday and some people have swapped from in-person to remote attendance. Worst case we can have a completely remote hackathon as an option.

[2020-03-11 21:12] ababaian commented on #24
My opinion is we should cancel, and so should the RNA Society. I think after March 15th, the RNA Society abstract deadline, they'll be able to make a clear decision with such low attendance.

We should start putting together the contingency plan for a `digitally distributed hackseqRNA`. Organize several small (5-6 people) local clusters spread around the world, find local leaders to book the room

[2020-03-11 21:12] bfjia commented on #24
they postponed bigx :O

[2020-03-12 01:38] ababaian commented on #24
Man shit just hit the fan, trump is stopping all flights from Europe for 30 days.

[2020-03-12 04:39] bfjia commented on #24
yupppp. and my comment about the epidemic was shortlived. it's now an pandemic.
Honestly, lets see what RNA society says.
for now,  @jenjaelin how would cancelling the venue work?

[2020-03-12 06:50] jenjaelin commented on #24
I have a feeling we can just cancel given we haven’t put any money down. I also think given what’s going on, they prolly won’t charge us. But I can get back to you on that.

So we definitely cancelling?

[2020-03-12 07:11] ababaian commented on #24
Not yet, but yeah I think re-formatting is going to be the move.

[2020-03-12 18:31] alexsweeten commented on #24
Since many of the potential team leads are expecting to get interviewed next week, I'm going to e-mail them a heads up and postpone interviews for now until we figure out an alternative.

[2020-03-12 18:32] ababaian commented on #24
I would say let's go ahead with the interviews and discuss this with them.

[2020-03-13 02:46] ababaian commented on #24
Source: [BC Gov](https://news.gov.bc.ca/releases/2020HLTH0077-000484)

I think we can for sure call it. I'd let RNA Society make there announcement first and we can discuss the plan of action next week. How does webcam conference calls sound for everyone?

[2020-03-13 02:59] bfjia commented on #24
Fine with me. Things went really south in the past week.

[2020-03-13 03:01] ababaian commented on #24
The writing is on the wall, I think people just needed a little bit of time to emotionally catch up to the reality.

[2020-03-13 18:08] jenjaelin commented on #24
I got our LSI booking released. unless you guys want me to retract that?

[2020-03-13 18:12] ababaian commented on #24
Let's all hang tight till Monday before we do anything. I think it should be OK to release LSI for a couple of days.

[2020-03-13 18:16] ababaian commented on #23
Hey @hackseq/hackseqrna_org Can we have a virtual meeting / conference call next Monday or Tuesday after work? We don't have to physically meet but we need to all have a good chat about what we want to do next.

I thought about it quite a bit and I think we may have a very good opportunity in the next few weeks to run a remote hackathon focusing on RNA/COVID. Lots of people are feeling like they c

[2020-03-13 19:52] jenjaelin commented on #24
Yah I don’t think anyone is going to book it out from underneath us at this point.  If we need to I’ll tell them I changed my mind on Monday.

J

[2020-03-13 19:54] jenjaelin commented on #23
I’m down with that. Maybe use some of our extra funds from not having to book location and food to fund remote things

J

[2020-03-15 17:46] emreerhan commented on #21
@hackseq/hackseqrna_org can everyone proceed with emailing their interviewees to confirm an interview time?

[2020-03-15 20:08] ababaian commented on #21
I think a lot of them have responded with available times already. Do we have this information available in a table?

[2020-03-15 20:19] emreerhan commented on #21
Yes. The info is all in the team leader interview spreadsheet on the drive.

[2020-03-15 20:19] emreerhan commented on #21
There are a few empty cells. Those TLs haven't responded yet.

[2020-03-15 20:26] ababaian commented on #21
I accidentally a column, I see it now.

[2020-03-15 20:28] ababaian commented on #21
Also when you're emailing can I suggest to give them information here #20 in your emails.

A

[2020-03-15 20:51] ababaian commented on #21
How does this as a draft email sound @emreerhan?

[2020-03-15 20:53] emreerhan commented on #21
That looks great!

[2020-03-16 02:40] ababaian commented on #23
![hackseq_rosie](https://user-images.githubusercontent.com/9220907/76718705-7ad31880-672f-11ea-8ec7-33b6d610d212.png)

[2020-03-16 03:14] ababaian commented on #23
## [hackseqRNA CoV-2 Contingency Plan](https://docs.google.com/document/d/1OorYMYwDmv4mbuQaY7KS2jki9xqTW3UeZNHN6MKHp7A/edit?usp=sharing)

Hey all, I outlined some thoughts I've had on the contingency plan. We're in uncharted territory but I think if we can discuss how to majorly re-think how a hackathon happens then I think we can create a lot of good with this.

The feeling I want us to project m

[2020-03-16 16:15] ababaian commented on #23
@hackseq/hackseqrna_org See you all tonight at 5:30!

[2020-03-16 17:08] emreerhan commented on #23
What platform will we be using for the meeting?

[2020-03-16 17:11] ababaian commented on #23
Google hangouts? Unless someone has another suggestion

[2020-03-16 17:14] bfjia commented on #23
Skype? Hangout has a 10ppl limit that we might hit if everyone joins.

Or we could jump on the zoom bandwagon.

J

-------- Original message --------
From: Artem Babaian <notifications@github.com>
Date: 2020-03-16 10:11 (GMT-08:00)
To: hackseq/hackseqRNA <hackseqRNA@noreply.github.com>
Cc: Justin Jia <justin_jia2006+git@hotmail.com>, Team mention <team_mention@noreply.github.com>
Subject: Re: [hac

[2020-03-16 17:16] ababaian commented on #23
Can someone sort out the best option?

[2020-03-16 17:50] emreerhan commented on #23
Emre Erhan is inviting you to a scheduled Zoom meeting.

Topic: HackseqRNA Meeting 6
Time: Mar 16, 2020 05:30 PM Pacific Time (US and Canada)

Join Zoom Meeting
https://zoom.us/j/456691280

Meeting ID: 456 691 280

One tap mobile
,,456691280# US Toll

Dial by your location
         US Toll

Meeting ID: 456 691 280
Find your local number: https://zoom.us/u/actDrYpAfo

[2020-03-16 17:52] emreerhan commented on #23
The biggest issue is a 40min limit on meetings with more than 3 people. If it takes longer than that we can just create another meeting.

[2020-03-16 18:38] alexsweeten commented on #23
Might catch the first 15 minutes or so on Zoom, but need to leave rather soon today.

[2020-03-17 02:12] jenjaelin commented on #23
Oh man, my apologies. It somehow went from 5:00 to 7:00 before I realized it -.-

Our lab has been drowning in COVID logistical nightmares and research planning

[2020-03-17 02:14] ababaian commented on #23
No worries @jenjaelin! This is secondary for everyone until we get some stability in our lives. Join the slack and we can chat, I'll get you up to speed.

[2020-03-17 04:06] #3 closed, assigned to emreerhan

[2020-03-17 04:06] #11 closed, assigned to nobody

[2020-03-17 04:06] #16 closed, assigned to nobody

[2020-03-17 04:06] #18 closed, assigned to nobody

[2020-03-17 04:07] ababaian commented on #24
See #23

[2020-03-17 04:07] #24 closed, assigned to nobody

[2020-03-17 04:10] ababaian commented on #23
@hackseq/steering_committee_2016 @hackseq/steering_committee @hackseq/hs18_org @hackseq/hs19_organizers If you have a free moment please see the above contingency plan we're enacting for **hackseqRNA**. Please leave your comments/thoughts, we're going to take hackseq to some new and exciting places!

[2020-03-17 15:42] NoushinN commented on #23
Love the banner, can I share on social media?
First name: hackseqRNA; nickname: ULTRA COVID19

[2020-03-17 15:44] ababaian commented on #23
Not yet @NoushinN! We're holding off all promotion until we get the first steps sorted out.

I think for the tag I'm leaning towards "hackseqRNA: COVID-19 Ultra-hackathon"

[2020-03-17 15:46] NoushinN commented on #22
going through the deep dungeons of hackseq google drive, where can the results of the surveys be found? historically speaking, have we saved the responses throughout time?

[2020-03-17 15:47] ababaian commented on #22
They are there somewhere, it was all google forms if that helps

[2020-03-17 15:50] NoushinN commented on #22
Yes! got it...thinking of linking them all into one if possible to analyze, will update

[2020-03-17 15:52] NoushinN commented on #23
btw, the website doesn't reflect team lead time extension, the last one was March 13

[2020-03-17 15:54] ababaian commented on #23
We haven't updated any of the website yet, we just laid out the plan last night.

[2020-03-17 19:27] jenjaelin opened #25 "Organizational meeting: Let's regroup - Friday March 20th 5:30pm"
Let's virtually meet up on Friday and figure some things out.

Could someone make a zoom meeting again?

# Minutes

## General planning
- RNA meeting cancelled - e-meeting now

### Website
- [blurb for explaining ultra-hackathon](https://docs.google.com/document/d/1PTaQoxOwyWO8hATq7aRKIB4VydUnPmliyVDrRNh56xM/edit?usp=sharing)
  - everyone take a look at this

### Bioinformatics for good
- roster f

[2020-03-17 19:31] bfjia commented on #23
@ababaian should we reach our to Dr. colijn at SFU since we are making this COVID19 focused. maybe we can pull her onto the planning committee somehow.
She recently had a hackathon in feburary focusing on COVID19

[2020-03-17 19:32] ababaian commented on #23
Correct, Stephen is on this : )

Pop on the slack for minor chat

[2020-03-17 19:37] DCGenomics commented on #23
I'd suggest talking with Pete Kane from SVAI/Research to the People, the Japanese Biohackathon folks, Nick Loman, and Russ Altman about their COVID efforts as well!  We'll all get more done if this is a united front.

Also, LMK when you're ready to go live and Ill advertise at biohackathons.github.io

[2020-03-17 21:18] lisancao commented on #23
Okay, based on the above this is my current tasklist, if anyone knows any interested webdevs that would help a lot:
- design interface for task submission and viewing, seek out team that can complete it (modeled after mechanical turk, kaggle)
- design task criterion, tracking for completed/in progress tasks and reward token system
- Work with bioFreelancers to create index of Bioinformatician rese

[2020-03-17 22:06] NoushinN commented on #23
@lisancao: I can help with the COVID19 resources, ping me on the readme

[2020-03-18 01:26] NoushinN commented on #23
Great, I would like to change mine to lead if possible...will look out for it

[2020-03-18 01:32] #20 closed, assigned to emreerhan

[2020-03-18 01:32] lisancao commented on #23
@NoushinN thanks for the help! You can find it here: https://github.com/hackseq/hackseqRNA/blob/master/COVID-19_Data.md

[2020-03-19 17:43] emreerhan commented on #25
Emre Erhan is inviting you to a scheduled Zoom meeting.

Topic: hackseqRNA: COVID-19 Ultra Hackathon
Time: Mar 20, 2020 05:30 PM Vancouver

Join Zoom Meeting
https://zoom.us/j/520932914

Meeting ID: 520 932 914

One tap mobile
,,520932914# US Toll

Dial by your location
         US Toll

Meeting ID: 520 932 914
Find your local number: https://zoom.us/u/actDrYpAfo

[2020-03-24 17:26] ababaian opened #28 "Email Flyer #2"
# hackseqRNA Email Flyer Version 2

![wide_banner](https://user-images.githubusercontent.com/9220907/77456878-ce122e80-6df3-11ea-8531-db96e9a469da.png)

[2020-03-28 01:48] ababaian opened #29 "Organizational E-Meeting: Monday March 30th. 5:30 pm"
@hackseq/hackseqrna_org We are officially live!
There are links to the google drive. If you don't have access DM Artem in slack.

#### I Can Attend
*Check your name is you can attend / add it if I forgot you (and sorry)*
- [x] Alex
- [ ] Allissa
- [x] Artem
- [ ] Casey
- [ ] David
- [ ] German
- [x] Jen
- [x] Justin
- [x] Laura
- [ ] Lisa
- [x] Noushin
- [x] Stephen
- [x] Tayab

# Agenda
[Particip

[2020-03-28 01:54] #25 closed, assigned to nobody

[2020-03-30 21:33] emreerhan commented on #29
Emre Erhan is inviting you to a scheduled Zoom meeting.

Topic: hackseqRNA Organizational Meeting
Time: Mar 30, 2020 05:30 PM Vancouver

Join Zoom Meeting
https://zoom.us/j/740975733

Meeting ID: 740 975 733

[2020-03-30 23:19] lisancao commented on #29
My updates for BfG:

-Lots of grad/und students from forms are signing up to enlist on the roster, which is great. Will be porting them to an open google doc soon
-No projects have been submitted- it is hard for me to figure out where to reach out with projects and how to differ them from Hackseq projects. I am thinking about limiting them to research efforts with formal university affiliations, a

[2020-03-30 23:58] emreerhan commented on #29
ORCA updates:
- We're still on to have ORCA May 22 - 24. We may be able to ask to have it for other dates as well. Let me know what you think.

[2020-03-31 01:28] lfunderburk commented on #29
Could I be added to the repo please to edit/make suggestions in upcoming agendas?

[2020-04-15 16:27] alexsweeten opened #31 "April 21st @5:30pm Organizational e-meeting."
@hackseq/hackseqrna_org

I know everyone is pretty swamped (myself included) right now, but we really need to get cracking as this is just over a month away.

Doodle link: https://doodle.com/poll/re8tvck6ihesavbx. Please vote by tonight if you can!

# Minutes
## Funding
- GenomeBC - got "grant" for catalyst fund
  - need committee of "PIs"
- Google - credits for computation
  - along with ORCA, Ca

[2020-04-16 19:39] alexsweeten commented on #31
Meeting will be at 5:30pm next Tuesday April 21st.

[2020-04-20 22:50] emreerhan commented on #31
Emre Erhan is inviting you to a scheduled Zoom meeting.

Topic: hackseqRNA Organizational Meeting
Time: Apr 20, 2020 05:30 PM Vancouver

Join Zoom Meeting
https://zoom.us/j/99076930668

Meeting ID: 990 7693 0668

[2020-04-20 22:52] emreerhan commented on #31
Emre Erhan is inviting you to a scheduled Zoom meeting.

Topic: hackseqRNA Organizational Meeting
Time: Apr 21, 2020 05:30 PM Vancouver

Join Zoom Meeting
https://zoom.us/j/99437501191

Meeting ID: 994 3750 1191

[2020-04-22 01:37] alexsweeten opened #32 "Participant recruitment emails"
Spreadsheet for mailing lists to advertise: https://docs.google.com/spreadsheets/d/1OWi0OwkdNjGT52scJCM-Hk1bk32-WpfHZopaa79bB_M/edit?usp=sharing

I will work on an advertising template email this week. Once finished, I will assign people to contact certain lists for advertising. Some mailing lists we should hit up:

* UBC CS
* SFU CS
* SFU MBB
* UBC Medgen
* BC Bioinformatics Program
* Genome Scie

[2020-04-29 00:57] jenjaelin opened #33 "Organizational meeting - May 4th, 5:30 PM"
# Minutes

## Team Lead
- google drive in hackseq for each TL
- Laura - link github to projects
- Jenny - check spreadsheet and update projects on website

## Social Media
-  Noushin to start advertising individual projects

## Participants
- should be fine having more participants than TLs
- how to engage
  - mostly leave to TLs
- Alex and Laura to coordinate the mailing lists

## Day of logistic

[2020-05-21 01:09] jenjaelin opened #34 "Final Meeting"
## Tasks
- Timed announcements via Slackbot (Lunch buddies) - Jenny
- set up git workshop
- man closing ceremonies (MC/list of items)
- check out jitsu (?) - Laura and Jenny

## Opening ceremonies
Run by Lisa + Artem
- Welcome (intro and get pumped)
- expectations + deliverables
- TLs give 30 sec intro
- use project channel for pitching ideas (doesn't have to be related to COVID/RNA)
- lunchbuddie

[2020-07-21 20:36] NoushinN commented on #22
Hey org committee, anyone up for reviving this task?